.users-container {
    text-align: center;
    padding: 20px;
    background: black;
    min-height: 100vh;
    animation: fadeIn 1s ease-in-out;
  }
  
  .neon-title {
    border-radius: 10px;
    border-color: black;
    font-size: 8rem; 
    font-weight: bold;
    color: #ff0080; 
    text-shadow: 0 40px 70px #ff0080;
  }
  
  .users-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .user-item {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    transition: 0.3s ease;
  }
  
  .user-item:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 20px #ff416c;
  }
  
  .user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .user-info h2 {
    margin: 0;
    color: white;
  }
  
  .user-info p {
    color: #ff416c;
  }
  
  .details-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  .details-link:hover {
    color: #ff416c; 
  }
  